<app-header></app-header>

<app-side-nav></app-side-nav>

<app-player>
  <p>This is some test content from ng-content on player component</p>

  <!-- These app-player-cards have property binding on them -->
  <app-player-card #tempPlayer [player]="name"></app-player-card>
  <app-player-card [player]="name"></app-player-card>
  <app-player-card [player]="name"></app-player-card>
</app-player>


<hr>
<br>

<app-parent></app-parent>

<hr>
<br>
<!-- This button uses property binding based off the boolean value of allowNewServer -->
<!-- The click event for this is considered event binding -->
<button mat-raised-button 
        color="primary"
        [disabled]="!allowNewServer"
        (click)="onCreatePlayer()">Add Player</button>

 <!-- <p [innerText]="allowNewServer"></p> -->

<p>{{ playerCreationStatus }}</p>

<!-- passing and using data with event binding -->
<input 
  type="text"
  (input)="onUpdatePlayerName($event)">
  <p>{{ playerName }}</p>
