<div class="container-fluid color-block blue-gradient z-depth-2 py-4 text-center white-text">
  <!-- Grid row -->
  <div class="row align-middle justify-content-center">
    <!-- Grid column -->
    <!-- Eventually have a log in form here -->
    <div class="col-sm-8 mb-6">
      <h2>Hello!</h2>
      <p class="welcome-copy text-center">Welcome to our family foursquare app! A history of our yearly tournaments all in one place.</p>

      <button mdbBtn type="button" gradient="peach" size="lg" mdbWavesEffect routerLink="/home-dashboard">Continue As Guest</button>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>


<mat-chip-list aria-label="Messages">
    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
  </mat-chip-list>
